<form #uppic="ngForm" (ngSubmit)="onSubmit(uppic)">
  <input type="file" name="img" [(ngModel)]="uppic.img" (change)="readUrl($event)">
  <input type="submit" value="Upload">
</form>

<ul>
  <li>id : {{imgData.id}}</li>
  <li>link : {{imgData.link}}</li>
  <li>type : {{imgData.type}}</li>
  <li>height : {{imgData.height}}</li>
  <li>width : {{imgData.width}}</li>
</ul>
<br>
<img width="500" [src]="imgData.link">
<br>

<div *ngFor="let item of images">
  <img width="500" [src]="item.link">
</div>
